In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [3]:
# Load the dataset into separate DataFrames for each sheet
sheets = ['Exports', 'Imports', 'Production', 'Inventories', 'Consumption', 'IndicatorPrice']
dfs = {sheet: pd.read_excel('ico_coffee_dataset.xlsx', sheet_name=sheet) for sheet in sheets}

In [4]:
exports_df = dfs['Exports']
import_df = dfs['Imports']
production_df = dfs['Production']
inventory_df = dfs['Inventories']
consumption_df = dfs['Consumption']
indicatorPrice_df = dfs['IndicatorPrice']

In [5]:
exports_df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,84.3500,70.501000,80.250000,38.878000,8.3020,40.559000,51.831000,50.494000,53.929000,...,4.370000,7.575000,8.375000,5.520000,9.375000,10.515000,10.945000,9.055000,9.323397,23.357178
1,Bolivia (Plurinational State of),156.4420,73.523000,96.204000,47.319000,84.3210,93.958000,123.445000,110.955000,97.039000,...,78.268006,74.308883,62.675780,54.850533,61.751267,30.280158,22.456342,26.119992,22.459634,20.341955
2,Brazil,16935.7876,21182.761402,18790.719202,17837.747999,17273.1476,14468.432201,15250.609002,16801.260005,18144.388334,...,33166.641590,33806.009328,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35637.358589,40697.863709
3,Burundi,584.7730,687.851000,645.858000,417.609000,507.8030,528.202000,224.076000,528.764000,373.841000,...,307.118958,217.845799,392.006917,194.715883,252.178000,230.188550,204.270831,168.876264,201.725236,292.887291
4,Cameroon,2611.2590,1752.179000,1645.851000,704.530000,545.8890,407.269000,563.549000,1368.030000,745.718000,...,793.845667,490.283067,621.812800,271.949217,375.033867,390.142717,281.128967,245.017117,287.415250,249.902400

In [6]:
exports_df = exports_df.fillna(0)

In [7]:
exports_df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,84.3500,70.501000,80.250000,38.878000,8.3020,40.559000,51.831000,50.494000,53.929000,...,4.370000,7.575000,8.375000,5.520000,9.375000,10.515000,10.945000,9.055000,9.323397,23.357178
1,Bolivia (Plurinational State of),156.4420,73.523000,96.204000,47.319000,84.3210,93.958000,123.445000,110.955000,97.039000,...,78.268006,74.308883,62.675780,54.850533,61.751267,30.280158,22.456342,26.119992,22.459634,20.341955
2,Brazil,16935.7876,21182.761402,18790.719202,17837.747999,17273.1476,14468.432201,15250.609002,16801.260005,18144.388334,...,33166.641590,33806.009328,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35637.358589,40697.863709
3,Burundi,584.7730,687.851000,645.858000,417.609000,507.8030,528.202000,224.076000,528.764000,373.841000,...,307.118958,217.845799,392.006917,194.715883,252.178000,230.188550,204.270831,168.876264,201.725236,292.887291
4,Cameroon,2611.2590,1752.179000,1645.851000,704.530000,545.8890,407.269000,563.549000,1368.030000,745.718000,...,793.845667,490.283067,621.812800,271.949217,375.033867,390.142717,281.128967,245.017117,287.415250,249.902400

In [9]:
import_df = import_df.fillna(0)

In [10]:
import_df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,1879.717004,2058.271005,2206.416005,1836.489002,1417.214004,1231.436001,1210.466006,1294.203405,1293.354106,...,1369.200299,1452.492905,1558.609366,1554.926951,1525.081080,1513.390285,1494.938560,1459.911532,1429.406831,1447.513664
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5923.729993,5828.442382,5668.231844,5502.143640,5211.749274,5533.514206,6052.170163,5677.379139,5742.253404,6198.896527
2,Belgium/Luxembourg,2014.954017,1746.225019,1827.851020,2063.260029,2262.473036,2401.498025,2525.823622,2544.379319,3579.677916,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Bulgaria,268.182998,200.220001,182.231012,397.443006,462.668007,515.418008,272.159995,294.154003,342.122004,...,528.372082,481.510209,559.825066,609.486668,620.708966,681.756589,779.160013,706.882517,737.243983,784.896715
4,Croatia,0.000000,0.000000,168.190005,162.774001,193.450002,320.132006,321.835998,385.297004,339.051001,...,393.825469,390.873959,384.490360,412.849422,419.673550,437.201445,478.666658,439.074412,445.513611,466.417527

In [11]:
import_df.isnull()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
import_df.dropna()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,1879.717004,2058.271005,2206.416005,1836.489002,1417.214004,1231.436001,1210.466006,1294.203405,1293.354106,...,1369.200299,1452.492905,1558.609366,1554.926951,1525.081080,1513.390285,1494.938560,1459.911532,1429.406831,1447.513664
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5923.729993,5828.442382,5668.231844,5502.143640,5211.749274,5533.514206,6052.170163,5677.379139,5742.253404,6198.896527
2,Belgium/Luxembourg,2014.954017,1746.225019,1827.851020,2063.260029,2262.473036,2401.498025,2525.823622,2544.379319,3579.677916,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Bulgaria,268.182998,200.220001,182.231012,397.443006,462.668007,515.418008,272.159995,294.154003,342.122004,...,528.372082,481.510209,559.825066,609.486668,620.708966,681.756589,779.160013,706.882517,737.243983,784.896715
4,Croatia,0.000000,0.000000,168.190005,162.774001,193.450002,320.132006,321.835998,385.297004,339.051001,...,393.825469,390.873959,384.490360,412.849422,419.673550,437.201445,478.666658,439.074412,445.513611,466.417527
5,Cyprus,49.853999,53.926000,40.875999,77.412000,51.836001,43.769000,51.501999,41.340999,49.778999,...,76.728448,82.078754,83.877469,93.766183,94.388100,89.304875,93.153307,99.933874,133.179542,133.224874
6,Czechia,659.433000,525.274000,474.731003,514.277005,553.797003,553.196999,525.298002,560.225003,764.839002,...,950.721928,952.366595,1126.622901,1183.882242,1822.690779,2067.838569,1779.351245,1506.967219,1903.158902,1608.921470
7,Denmark,959.105004,982.757004,1061.623004,993.947000,1033.184003,877.159002,1005.999200,949.070500,1013.723201,...,1014.640895,908.869741,913.098994,921.178915,853.423879,840.777636,905.789619,852.193333,867.950523,907.935154
8,Estonia,0.000000,0.000000,16.378000,51.147998,83.097998,107.478002,116.918007,141.114997,134.658996,...,262.870187,166.855732,157.234790,156.214012,130.853713,126.200638,134.802638,133.148138,147.137781,147.848908
9,Finland,1095.140998,1033.066999,1055.361000,1301.455999,1361.003002,769.499000,992.273602,1185.521302,1167.935302,...,1273.743443,1286.515065,1237.833040,1275.467965,1213.055380,1320.802279,1388.966280,1360.023736,1284.822821,1515.473931
10,France,6301.221035,6552.709041,6612.056041,6334.468044,6368.662042,6213.680045,6659.513448,6703.985251,6576.022652,...,6717.241889,6991.820108,6841.135557,6713.104855,7112.306134,6808.566640,6737.782710,6966.514663,7624.019021,7992.905036
11,Germany,13670.946005,13228.851004,13788.554006,14107.003006,13583.215008,12851.835005,13507.128909,13905.184716,13739.568415,...,20602.955791,20926.404580,21816.212008,21174.306912,22077.693664,21316.211718,22368.390781,21764.783862,22147.181429,22431.905432
12,Greece,641.963000,407.027001,348.923002,374.593002,502.128002,522.595004,765.506505,788.621003,704.455603,...,1061.327542,1154.525823,1243.663331,1269.093956,1233.605406,1209.964524,1583.737836,867.119379,1160.023658,1246.274130
13,Hungary,573.974000,640.987003,522.247999,668.055998,771.221998,519.504997,602.906000,674.959999,715.593994,...,726.889695,639.624263,747.927709,557.397048,833.449251,714.209394,725.438318,721.560835,779.213368,772.969664
14,Ireland,129.477001,118.267001,94.568000,110.542001,130.540001,114.607002,98.158001,106.283601,101.977901,...,164.736694,210.442922,252.004515,232.744596,291.859710,356.571087,402.630470,426.915536,439.614112,438.280368
15,Italy,5241.831000,4630.023000,4594.727000,5593.705001,5553.766003,5387.861005,5607.987206,5742.631909,5889.393510,...,8235.962171,8355.342574,8690.869716,8822.544900,9349.822423,9328.193272,10224.188825,10020.273316,10639.354618,10913.757224
16,Latvia,0.000000,0.000000,20.258999,59.773998,22.555999,29.522113,65.752307,143.643753,158.955460,...,137.664566,141.280868,156.985645,161.288911,213.388113,201.593121,231.290827,228.920340,242.742978,234.940690
17,Lithuania,0.000000,0.000000,1.863000,9.100001,46.726994,112.947680,149.561498,187.114348,185.149667,...,376.053697,288.875377,336.676121,362.186437,396.478377,427.757199,499.270391,432.452342,441.466226,473.630894
18,Luxembourg,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,348.874862,325.528734,322.753017,378.173252,413.042656,376.225849,394.328739,379.928555,433.323694,402.266730
19,Malta,20.713999,16.074003,17.858001,22.613002,13.211999,22.647485,9.231660,9.458553,10.104403,...,12.176685,16.956504,21.298937,21.897309,24.634066,16.313379,18.532323,16.754442,19.377629,23.371180
20,Netherlands,3128.150018,3120.774019,3204.952020,2803.729010,2799.881022,2910.366023,3083.957321,2923.772828,2862.048324,...,2582.660765,2678.334327,2729.760788,3406.794908,4016.022282,4176.235826,4781.450177,5067.740540,5520.437554,5354.023003
21,Poland,435.065001,249.871003,1787.057029,1670.497511,1842.641218,1770.709109,1924.074059,2253.082066,2292.960514,...,3278.914098,3403.819311,3542.745725,3284.382631,3229.207779,3665.612068,3827.168954,3999.318599,4325.062331,4452.456931
22,Portugal,551.589001,557.469001,591.174001,666.447003,663.862003,633.168003,742.959204,727.290404,761.586804,...,1010.442040,1057.733955,1075.842247,1062.681612,1059.749497,1043.856962,1128.481418,1093.954625,1140.202501,1219.764763
23,Romania,441.534003,335.450012,603.208022,425.350016,347.446996,551.343006,696.558000,630.977005,595.302004,...,838.855240,844.184887,902.872524,971.477073,958.483247,1011.643221,1133.698883,1154.573341,1174.142832,1165.061278
24,Slovakia,0.000000,0.000000,0.000000,288.476994,256.693138,250.086974,260.545813,252.884636,258.929535,...,654.848311,777.214721,771.630186,798.425339,918.892584,910.384756,906.183435,723.050359,889.516940,773.499743
25,Slovenia,0.000000,0.000000,122.875000,152.217998,159.139002,147.619000,174.633620,170.647177,174.302764,...,217.586481,222.988627,220.895499,257.915200,268.925077,271.785721,322.870291,401.438807,549.660215,619.500436
26,Spain,3053.251000,2969.543000,3414.290003,2813.088000,3028.425000,3145.866003,3515.277508,3776.560607,3717.653605,...,5034.403072,4820.907712,5094.020070,5136.943264,5405.557639,5428.565170,5660.146938,5414.229253,5673.000674,5983.510850
27,Sweden,1766.674003,1717.087000,1771.725002,1756.601007,1893.292008,1420.441999,1522.379299,1472.841500,1439.636799,...,1726.679836,1646.726170,1679.734595,1709.389099,2198.463063,2120.551337,2349.869496,2306.332163,2262.214124,2347.796820

In [13]:
import_df.nunique()

Country    28
1990       21
1991       21
1992       26
1993       27
1994       27
1995       27
1996       27
1997       27
1998       27
1999       28
2000       28
2001       28
2002       28
2003       28
2004       28
2005       28
2006       28
2007       28
2008       28
2009       28
2010       28
2011       28
2012       28
2013       28
2014       28
2015       28
2016       28
2017       28
2018       28
2019       28
dtype: int64

In [14]:
import_df.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,...,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,1531.527717,1469.424004,1590.356935,1616.230987,1621.504696,1550.870946,1657.443100,1709.473067,1745.313660,1776.713633,...,2340.075221,2359.025600,2433.459001,2429.666546,2567.614489,2571.250992,2728.659261,2650.763388,2791.115047,2859.180141
std,2869.370018,2796.425376,2882.062473,2925.209194,2844.182007,2719.442757,2865.132539,2935.716896,2922.342241,3005.742735,...,4194.577313,4259.512528,4409.416797,4302.724433,4483.202284,4360.083410,4593.275351,4501.826360,4628.240046,4717.227636
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,35.721749,102.259501,118.679500,114.192171,141.400625,163.896321,170.465938,182.713289,...,327.373693,272.403689,305.065891,336.118628,370.323710,371.312158,400.555038,420.546354,441.003197,459.383237
50%,496.561502,371.238506,498.489501,469.813510,527.962502,536.969005,649.732000,652.968502,710.024799,730.319547,...,894.788584,876.527314,907.985759,946.327994,938.687916,961.013989,1017.332427,859.656356,1014.859721,1036.498216
75%,1794.934753,1724.371504,1797.255527,1776.573006,1855.303915,1508.008776,1622.802989,1667.901642,1652.967728,1725.741489,...,1940.675068,1904.628209,1942.241143,2103.137482,2456.149242,2506.816520,2719.194360,2729.578772,2777.926176,2873.961848
max,13670.946005,13228.851004,13788.554006,14107.003006,13583.215008,12851.835005,13507.128909,13905.184716,13739.568415,14320.027021,...,20602.955791,20926.404580,21816.212008,21174.306912,22077.693664,21316.211718,22368.390781,21764.783862,22147.181429,22431.905432